body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 48px;
}

.header, .hero{
    width: 70vw;
}

.container-1 {
    width: 70vw;
    display: flex;
    justify-content: center;
}



.header {
    display: flex;
    flex-wrap: nowrap;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    gap: 16px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 32px 0px;
    border: 5px solid #F9FAF8;
    flex: 1;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 12px 48px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 32px;
    flex: 1;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Information section styling */

.info {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    background-color: white;
}
.info h1 {
    font-size: 36px;
}

.cards {
    display: flex;
    gap: 16px;
}
.card img {
    max-width: 200px;
    max-height: 200px;
}
.card {
    max-width: 200px;
    max-height: 200px;
    border: 5px solid;
}

