body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 48px;
}

p {
    font-size: 20px;
}

.item,
.container-1,
.header,
.hero,
.sign-up,
.container,
.info,
.cards,
.quote,
.call-to-action
 {
    display: flex;
}

.header, 
.hero, 
.info, 
.quote{
    width: 70vw;
}

.container-1 {
    width: 100%;
    justify-content: center;
}



.header {
    flex-wrap: nowrap;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
}

.hero {
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 32px;
    color: #F9FAF8;
}

.hero img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 32px 0px;
    border: 5px solid #ffb84f;
    flex: 1;
}

button {
    background-color: #b4e9a9;
    color: #FFF;
    padding: 8px 32px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

.sign-up {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 32px;
    flex: 1;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    background-color: #76dd78;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Information section styling */

.info {
    flex-direction: column;
    color: #1f2937;
    align-items: center;
    justify-content: space-around;
}
.info h1 {
    font-size: 36px;
    margin: 48px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 48px;
}
.card img {
    max-width: 200px;
    max-height: 200px;
    border: #ffb84f;
    border-radius: 12px;
}
.card {
    background-color: #ffb84f;
    max-width: 200px;
    max-height: 200px;
    border: 5px solid #ffb84f;
    border-radius: 12px;
}

.item {
    flex-flow: column wrap;
    gap: 24px;
    max-width: 200px;
}

.text {
    font-size: 18px;
    text-align: center;
}

/* Quote section */

#quote {
    background-color: #E5E7Eb;
}

.quote {
    font-size: 36px;
    flex-direction: column;
    margin: 10vh;
}

#author {
    align-self: flex-end;
}

/* Call to Action */

.call-to-action {
    width: 70vw;
    background-color: #b4e9a9;
    margin: 10vh;
    padding: 1vw 1vh;
    border: none;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.call-to-action .text {
    text-align: left;
    color: white;
    font-weight: bolder;
}

.call-to-action button {
    font-size: 20px;
    border: 3px solid #F9FAF8;
    background-color: #76dd78;
}

/* Footer */

.footer {
    background-color: #76dd78;
    width: 100%;
    text-align: center;
    color: white;
}